<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="nav-rail"
    [mode]="isMobile ? 'side' : 'side'"
    [opened]="showNavRail"
    [class.nav-rail-collapsed]="collapsed"
  >
    <nav class="nav-rail-items">
      <a mat-button [routerLink]="['/home']" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span *ngIf="!isMobile">Home</span>
      </a>
      <a mat-button [routerLink]="['/about']" routerLinkActive="active">
        <mat-icon>info</mat-icon>
        <span *ngIf="!isMobile">About</span>
      </a>
      <a mat-button [routerLink]="['/reports']" routerLinkActive="active">
        <mat-icon>info</mat-icon>
        <span *ngIf="!isMobile">Reports</span>
      </a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content
    [style.marginLeft.px]="isMobile ? 0 : collapsed ? 72 : 240"
  >
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
