<div class="page-content">
  <app-header
    [pageTitle]="'Your Page Title'"
    [breadcrumbs]="['Home', 'Page1', 'Page2']"
  ></app-header>
  <div style="padding-top: 8px"></div>
  <app-banner
    icon="info_circle"
    text="This is an informational banner"
    colorClass="info"
    moreInfoRoute="/more-info"
  ></app-banner>
  <div style="padding-top: 8px"></div>
  <app-banner
    icon="warning_circle"
    text="This is a warning banner"
    colorClass="warning"
  ></app-banner>
  <div style="padding-top: 8px"></div>
  <app-banner
    icon="error_circle"
    text="This is an error banner"
    colorClass="error"
    moreInfoRoute="/more-info"
  ></app-banner>
  <div style="padding-top: 8px"></div>
  <div>
    <!-- ... (previous content) -->
    <div style="padding-top: 8px"></div>
    <div class="card-container">
      <!-- Just a paragraph -->
      <app-informative-card [title]="'Card 1'" [subtitle]="'Only a paragraph'">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In nostrum
          quia earum dolore cumque! Commodi, error ducimus! Tenetur quidem, rem
          animi sit quod, ratione quis nulla architecto quam, illo vitae?
        </p>
      </app-informative-card>
      <!-- Paragraph and link -->
      <app-informative-card
        [title]="'Card 2'"
        [subtitle]="'Paragraph and link'"
      >
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
          laudantium ab dolor distinctio? Perferendis adipisci repellat enim
          consequatur. Mollitia voluptatum pariatur eligendi molestias, itaque
          eaque unde quibusdam voluptas quidem accusantium!
        </p>
        <a href="https://www.example.com">A rad link, too!</a>
      </app-informative-card>
      <!-- Multiple links and list items -->
      <app-informative-card
        [title]="'Card 3'"
        [subtitle]="'All the things, multiple times'"
      >
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta
          molestias temporibus excepturi nesciunt ex explicabo asperiores
          inventore quos nihil labore quis repudiandae, vel odio ducimus? Optio,
          laudantium exercitationem. Totam.
        </p>
        <a href="https://www.example.com">A rad link, too!</a>
        <a href="https://www.example2.com">Another awesome link!</a>
        <ul>
          <li>Even a sick list item!</li>
          <li>And another one!</li>
        </ul>
      </app-informative-card>
      <!-- Multiple links and list items -->
      <app-informative-card
        [title]="'Card 4'"
        [subtitle]="'All the things, multiple times'"
      >
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta
          molestias temporibus excepturi nesciunt ex explicabo asperiores
          inventore quos nihil labore quis repudiandae, vel odio ducimus? Optio,
          laudantium exercitationem. Totam.
        </p>
        <a href="https://www.example.com">A rad link, too!</a>
        <a href="https://www.example2.com">Another awesome link!</a>
        <ul>
          <li>Even a sick list item!</li>
          <li>And another one!</li>
        </ul>
      </app-informative-card>
      <!-- Multiple links and list items -->
      <app-informative-card
        [title]="'Card 5'"
        [subtitle]="'All the things, multiple times'"
      >
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta
          molestias temporibus excepturi nesciunt ex explicabo asperiores
          inventore quos nihil labore quis repudiandae, vel odio ducimus? Optio,
          laudantium exercitationem. Totam.
        </p>
        <a href="https://www.example.com">A rad link, too!</a>
        <a href="https://www.example2.com">Another awesome link!</a>
        <ul>
          <li>Even a sick list item!</li>
          <li>And another one!</li>
        </ul>
      </app-informative-card>
      <!-- Multiple links and list items -->
      <app-informative-card
        [title]="'Card 6'"
        [subtitle]="'All the things, multiple times'"
      >
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta
          molestias temporibus excepturi nesciunt ex explicabo asperiores
          inventore quos nihil labore quis repudiandae, vel odio ducimus? Optio,
          laudantium exercitationem. Totam.
        </p>
        <a href="https://www.example.com">A rad link, too!</a>
        <a href="https://www.example2.com">Another awesome link!</a>
        <ul>
          <li>Even a sick list item!</li>
          <li>And another one!</li>
        </ul>
      </app-informative-card>
      <!-- Multiple links and list items -->
      <app-informative-card
        [title]="'Card 7'"
        [subtitle]="'All the things, multiple times'"
      >
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta
          molestias temporibus excepturi nesciunt ex explicabo asperiores
          inventore quos nihil labore quis repudiandae, vel odio ducimus? Optio,
          laudantium exercitationem. Totam.
        </p>
        <a href="https://www.example.com">A rad link, too!</a>
        <a href="https://www.example2.com">Another awesome link!</a>
        <ul>
          <li>Even a sick list item!</li>
          <li>And another one!</li>
        </ul>
      </app-informative-card>
      <div style="padding-top: 8px"></div>
      <div>
        <h1 class="class1">This is a H1</h1>
      </div>
    </div>
  </div>
</div>
