.page-content {
  max-width: 1200px; // Adjust this value according to your desired max-width
  margin: 0 auto;
  padding: 0 16px; // You can add some padding on the sides for smaller screens
}

// Optional: Adjust the max-width and/or margins for larger screens
@media (min-width: 1600px) {
  .page-content {
    max-width: 1400px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
}

.class1 {
  color: var(--error-color-border);
}
