.header-container {
  display: flex;
  flex-direction: column;
  height: 54px;
}

.breadcrumb-row {
  flex: 1;
  display: flex;
  align-items: center;
}

.title-row {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between; /* or start | center | end */
}

.breadcrumb {
  font-size: 14px;
  color: #999;
}

.breadcrumb-first {
  font-family: "Open Sans";
  font-size: 12px;
  color: #333333;
  text-decoration: none solid rgb(51, 51, 51);
}

.breadcrumb-other {
  font-family: "Open Sans";
  font-size: 12px;
  color: #696969;
  text-decoration: none solid rgb(105, 105, 105);
}

h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.page-title {
  font-family: Roboto;
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none solid rgb(147, 24, 108);
}
