<div class="header-container">
  <div class="breadcrumb-row">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
      <ng-container *ngIf="i !== 0">
        <span class="breadcrumb-other"> / </span>
      </ng-container>
      <span
        [ngClass]="{ 'breadcrumb-first': i === 0, 'breadcrumb-other': i !== 0 }"
      >
        {{ breadcrumb }}
      </span>
    </ng-container>
  </div>
  <div class="title-row">
    <div>
      <span class="page-title" [style.color]="'var(--primary-color)'">
        {{ pageTitle }}
      </span>
    </div>
    <!-- <div style="display: flex">
      <div>
        <mat-icon class="example-icon">keyboard_arrow_right</mat-icon>
      </div>

      <div style="padding-right: 10px">
        <mat-icon class="example-icon">keyboard_arrow_right</mat-icon>
      </div>
    </div> -->
  </div>
</div>
