:root {
  --primary-color: var(--disco-500);
  --secondary-color: var(--genoa-500);
  --navrail-bg: #333333;
  --app-bar-bg: #ffffff;
  --footer-bg: #ffffff;
  --fab-color: var(--disco-500);
  --info-color-bg: #ccdef1;
  --info-color-border: #005bbb;
  --warning-color-bg: #fceecc;
  --warning-color-border: #f0ab00;
  --error-color-bg: #f9d6d6;
  --error-color-border: #e03131;
  --success-color-bg: #d2e2d9;
  --success-color-border: #1e7040;
  --new-feature-color-bg: var(--disco-100);
  --new-feature-color-border: var(--disco-500);
  --new-font: var(--overpass);
}
