[data-theme="theme2"] {
  --primary-color: var(--genoa-500);
  --secondary-color: var(--disco-500);
  --navrail-bg: #333333;
  --app-bar-bg: #ffffff;
  --fab-color: var(--genoa-500);
  --info-color-border: #e7f0f4;
  --info-color-bg: #186c93;
  --warning-color-border: #fdf6e5;
  --warning-color-bg: #f0ab00;
  --error-color-border: #fceaea;
  --error-color-bg: #e03131;
  --success-color-border: #e8f0ec;
  --success-color-bg: #1e7040;
  --new-feature-color-bg: var(--genoa-500);
  --new-feature-color-border: var(--genoa-100);
}
