:root {
    --disco-50: #f2e3ed;
    --disco-100: #dfbad3;
    --disco-200: #c98cb6;
    --disco-300: #b35d98;
    --disco-400: #a33b82;
    --disco-500: #93186c;
    --disco-600: #8b1564;
    --disco-700: #801159;
    --disco-800: #760e4f;
    --disco-900: #64083d;
    --disco-A100: #ff96cd;
    --disco-A200: #ff63b5;
    --disco-A400: #ff309c;
    --disco-A700: #ff1690;
    --disco-contrast-50: rgba(black, 0.87);
    --disco-contrast-100: rgba(black, 0.87);
    --disco-contrast-200: rgba(black, 0.87);
    --disco-contrast-300: white;
    --disco-contrast-400: white;
    --disco-contrast-500: white;
    --disco-contrast-600: white;
    --disco-contrast-700: white;
    --disco-contrast-800: white;
    --disco-contrast-900: white;
    --disco-contrast-A100: rgba(black, 0.87);
    --disco-contrast-A200: rgba(black, 0.87);
    --disco-contrast-A400: white;
    --disco-contrast-A700: white;
    
    --genoa-50: #e3edee;
    --genoa-100: #b9d1d4;
    --genoa-200: #8bb3b7;
    --genoa-300: #5c949a;
    --genoa-400: #397d85;
    --genoa-500: #16666f;
    --genoa-600: #135e67;
    --genoa-700: #10535c;
    --genoa-800: #0c4952;
    --genoa-900: #063840;
    --genoa-A100: #76e8ff;
    --genoa-A200: #43dfff;
    --genoa-A400: #10d6ff;
    --genoa-A700: #00ccf6;
    --genoa-contrast-50: rgba(black, 0.87);
    --genoa-contrast-100: rgba(black, 0.87);
    --genoa-contrast-200: rgba(black, 0.87);
    --genoa-contrast-300: rgba(black, 0.87);
    --genoa-contrast-400: white;
    --genoa-contrast-500: white;
    --genoa-contrast-600: white;
    --genoa-contrast-700: white;
    --genoa-contrast-800: white;
    --genoa-contrast-900: white;
    --genoa-contrast-A100: rgba(black, 0.87);
    --genoa-contrast-A200: rgba(black, 0.87);
    --genoa-contrast-A400: rgba(black, 0.87);
    --genoa-contrast-A700: rgba(black, 0.87);
}