/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --info-color: #1e88e5;
  --warning-color: #af9800;
  --error-color: #f44336;
  --success-color: #4caf50;
}

.page-content {
  padding: 24px;
}
